/*for CrossBrowsers*/
html {
    font-size: 1rem;
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre, code, kbd, samp {
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

    a:active,
    a:hover {
        outline-width: 0;
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b, strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video, canvas {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

    [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    resize: vertical;
    min-height: 200px !important;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

input:-ms-input-placeholder {
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

:-moz-placeholder { /* Firefox 18- */
    color: #686875;
    font-size: 13px;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    text-align: center;
    padding: 0 1rem;
}
